<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all users</title>
</head>
<body>
    <table border="3px">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>gmail</th>
            <th>Password</th>
        </tr>

      
            <%for(data of result) {%>
            <tr>
                <td><%=data.id%></td>
                <td><%=data.username%></td>
                <td><%=data.email%></td>
                <td><%=data.password%></td>
                <td>
                <form method="get"  action="http://localhost:8080/users/new">
                    <button>New Create</button>
                </form>
                </td>
            </tr>
            <% } %>
        

    </table>
</body>
</html>